<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw;
        height: 90vh;
        flex-direction: column;
    }
</style>
<title> API-UASB </title>
<link rel="shortcut icon" href="/img/logo.ico">

<html>
<div class="container">
    <img src="/img/logo.jpeg" alt="logo-uasb">
    <h2 style="color:#3d3d3d">Bienvenido a la API</h2>


</div>

</html>